<ion-view title="Home" id="page2" ng-controller="homeCtrl as hc">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="height: 40px;">
                <label class="item item-input">
                    <span class="input-label">Type in your Ingredients</span>
                    <input type="text" placeholder="" ng-model="hc.theirIngredients" required>
                </label>
                <a  id="searchItems" class="button button-positive  button-block" ng-click="hc.searchItems()">Search Items</a>
                <div ng-repeat="i in hc.mealData track by $index">
                    <h1 ng-bind="hc.mealData[$index].title"></h1>
                    <img ng-src="hc.mealData[$index].thumbnail"/>


                </div>

            </div>
        </form>
    </ion-content>
    <!--<img src="../img/Good_Food_Display_-_NCI_Visuals_Online.jpg" width="100%" height="25%">-->
</ion-view>

