<ion-view title="Signup" id="page6" ng-controller="signupCtrl as sc">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="" ng-model="theirName" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="" ng-model="theirEmail" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="theirPass" required>
                </label>
            </ion-list>
            <button id="signup-button3" class="button button-stable  button-block" ng-click="sc.signingUp(theirName, theirEmail, theirPass);">Sign up</button>
            <p class="card item item-text-wrap" ng-show="err">{{err}}</p>
        </form>
    </ion-content>
</ion-view>